body {
  font-family: Play;
  width: 100vw;
}

.path-3 {
    width: 100vw;
    height: 59vw;
    background-image: linear-gradient(124deg, #0909b4, #5d1c88);
    position: relative;
  }

.path-3-md-sm {
    width: 100vw;
    height: auto;
    background-image: linear-gradient(124deg, #0909b4, #5d1c88);
    position: relative;
}

.path-3-xs {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(124deg, #0909b4, #5d1c88);
    position: relative;
}

.fork-sm {
  position: absolute;
  top: 6vw;
  left: 80vw;
}

.txt-h1-div {
  position: absolute;
  top: 11vw;
}

.txt-h1 {
  color: #FFFFFF;
  font-size: calc(1.5vw + 1.5vh + 2vmin);
}

.txt-h1-md-sm {
  color: #FFFFFF;
}

.txt-h1-xs {
  position: relative;
  top: 2vw;
  color: #FFFFFF;
  font-size: 3vh;
  position: absolute;
}

.wave-bg {
position: relative;
}

.wave-bg-img {
  display: inline-block;
  height: auto;
  max-width: 80vw;
  padding-top: 3vw;
  padding-bottom: 10vw;

}

.wave-bg-img-md-sm {
  display: inline-block;
  height: auto;
  max-width: 80vw;
  padding-top: 3vw;
  padding-bottom: 1vw;

}

.logoC {
  position: absolute;
  top: 20vw;
  margin-top: 1vw;
  display: block;
  height: auto;
}

.logoC-sm {
  position: absolute;
  top: 23vw;
  margin-top: 1vw;
  display: block;
  height: auto;
}

.logoC-xs {
  position: absolute;
  top: 33.333333vh;
  display: inline-block;
  height: auto;
}

.logoImg {
  width: 10vw;
  height: auto;

}

.logoImg-xs {
  width: 40vw;
  height: auto;
}

.rectangle {
  width: 83.33333333333vw;
  background-color: #ffffff;
  box-shadow: -12px 1px 77px 0 rgba(0, 0, 0, 0.29);
  position: relative;
  bottom: 10vw;
}

.rectangle-md-sm {
  width: 100vw;
  background-color: #ffffff;
  box-shadow: -12px 1px 77px 0 rgba(0, 0, 0, 0.29);
  position: relative;

}

.rectangle-xs {
  width: 100%;
  background-color: #ffffff;
  position: relative;
}

.fork-xs {
  position: absolute;
  bottom: 30%;
}

.app-lg {
  width: 50vw;
  bottom: 18vw;
  padding-left: 33.333333vw;
}

.docs-lg {
  width: 50vw;
  bottom: 18vw;
}

.app-b-lg {
  width: 15vw;
  height: 5vw;
  box-shadow: 1px 6px 11px 0 rgba(0, 0, 0, 0.15);
  border: solid 1.2px #f2f2f2;
  padding: 0.7%;
  border-radius: 0;
  background-color: inherit;
  color: #ffffff;
  font-size: 1.5vw;
  display: table-cell;
  vertical-align: middle;
}

.docs-b-lg {
  width: 15vw;
  height: 5vw;
  box-shadow: 1px 6px 11px 0 rgba(0, 0, 0, 0.15);
  border: solid 1.2px #f2f2f2;
  padding: 0.7%;
  border-radius: 0;
  background-color: inherit;
  color: #ffffff;
  font-size: 1.5vw;
  display: table-cell;
  vertical-align: middle;
}

.app-md-sm {
  width: 50vw;
  padding-left: 33.333333vw;
}

.docs-md-sm {
  width: 50vw;
}

.app-b-sm {
  width: 15vw;
  height: 5vw;
  box-shadow: 1px 6px 11px 0 rgba(0, 0, 0, 0.15);
  border: solid 1.2px #f2f2f2;
  padding: 0.7%;
  border-radius: 0;
  background-color: inherit;
  color: #ffffff;
  font-size: 1.5vw;
  display: table-cell;
  vertical-align: middle;
}

.docs-b-sm {
  width: 15vw;
  height: 5vw;
  box-shadow: 1px 6px 11px 0 rgba(0, 0, 0, 0.15);
  border: solid 1.2px #f2f2f2;
  padding: 0.7%;
  border-radius: 0;
  background-color: inherit;
  color: #ffffff;
  font-size: 1.5vw;
  display: table-cell;
  vertical-align: middle;
}

.app-b-xs {
  width: 163px;
  height: 54px;
  box-shadow: 1px 6px 11px 0 rgba(0, 0, 0, 0.15);
  border: solid 1.2px #f2f2f2;
  padding: 4.7%;
  margin: 1%;
  border-radius: 0;
  background-color: inherit;
  color: #ffffff;
  font-size: 17px;
  line-height: 1.5;
}

.docs-b-xs {
  width: 163px;
  height: 54px;
  box-shadow: 1px 6px 11px 0 rgba(0, 0, 0, 0.15);
  border: solid 1.2px #f2f2f2;
  padding: 4.7%;
  margin: 1%;
  border-radius: 0;
  background-color: inherit;
  color: #ffffff;
  font-size: 17px;
  line-height: 1.5;
}

.app-xs {
margin-top: 70vh;
}

.features {
  margin-top: 2vw;
  margin-bottom: 0.7vw;
  height: auto;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.features-md-sm {
  margin-top: 4vw;
  margin-bottom: 2vw;
  height: auto;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.feat-text {
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #69a4f6;
  font-size: calc(0.5vw + 0.5vh + 1vmin);
}

.feat-img {
  width: 15vw;
}

.feat-img-md-sm {
  width: 25vw;
}

.feat-img-xs {
  width: 70vw;
  margin-top: 3vh;;
}

.text-descr {
  margin-top: 1vw;
  margin-bottom: 3vw;
  font-size: calc(0.4vw + 0.4vh + 0.5vmin);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #434343;
}

.text-descr-md-sm {
  margin-top: 2vw;
  margin-bottom: 4vw;
  font-size: 1.5vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #434343;
}

.text-h-xs {
  margin-top: 3vw;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #69a4f6;
  font-size: 10vw;
  }

.text-descr-xs {
  margin-bottom: 4vh;
  font-size: 5vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #434343;
}

.overview {
  position: relative;
}

.overview-section {
  padding-left: 2vw;
  font-size: calc(1.5vw + 1.5vh + 2vmin);
  font-weight: bold;
  line-height: normal;
  color: #70a8f7;
}

.overview-section-md-sm {
  padding-top: 8vw;
  font-size: 4vw;
  font-weight: bold;
  line-height: normal;
  color: #70a8f7;
}

.overview-section-xs {
  padding-top: 12vh;
  font-size: 15vw;
  font-weight: bold;
  line-height: normal;
  color: #70a8f7;
}

.overview-descr {
  margin-top: 1vw;
  font-size: calc(0.4vw + 0.4vh + 0.5vmin);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: normal;
  color: #6e6e6e;
}

.overview-descr-md-sm {
  margin-top: 2vw;
  font-size: 1.5vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #6e6e6e;
}

.overview-descr-xs {
  margin-top: 4vh;
  font-size: 5vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #6e6e6e;
}

.overview-img{
  position: absolute;
  max-width: 24vw;
  left: 14vw;
  z-index: 2;
}

.overview-img-md-sm{
  left: 7vw;
  top: 8vw;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.shadow {
  width: auto;
  position: absolute;
  bottom: 6.5vw;
  left: 4vw;
  opacity: 0.23;
  font-size: 7vw;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #bfbfbf;
}

.footer {
  width: 100vw;
  height: 100%;
  background-image: linear-gradient(98deg, #0909b4, #581b8b 55%, #5d1c88 77%, #5d1c88);
}

.footer-xs {
  position: relative;
  width: 100%;
  background-image: linear-gradient(98deg, #0909b4, #581b8b 55%, #5d1c88 77%, #5d1c88);
}

.license {
  position: relative;
  color: #ffffff;
  padding-bottom: 3vw;
  font-size: 0.7vw;
}

.license-xs {
  color: #ffffff;
  padding-top: 3vw;
  padding-bottom: 3vw;
  font-size: 3vw;
}

#triangle-bottomright {
  position: absolute;
  right: 0vw;
  top: 54.5vw;
	width: 0;
	height: 0;
	border-bottom: 5vw solid white;
	border-left: 19vw solid transparent;
}

#triangle-bottomleft {
  position: absolute;
  left: 0vw;
  top: 54.5vw;
	width: 0;
	height: 0;
	border-bottom: 5vw solid white;
	border-right: 19vw solid transparent;
}

#triangle-topleft {
  margin-top: -0.1vw;
	width: 0;
	height: 0;
	border-top: 4vw solid white;
	border-right: 25vw solid transparent;
  z-index: 0;
}

#triangle-topright {
  margin-top: -4.1vw;
  margin-left: 22vw;
	width: 0;
	height: 0;
	border-top: 8vw solid white;
	border-left: 78vw solid transparent;
  z-index: 0;

}

a.butt {display: inline-block; position: relative; }

a.butt:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 12px;
  right: 16px;
  bottom: 17px;
  background: linear-gradient(124deg, #0909b4, #5d1c88);
  opacity: 0;
  text-decoration: none;
 }
