.path-3 {
    width: 100%;
    height: 59vw;
    background-image: linear-gradient(124deg, #0909b4, #5d1c88);
    position: relative;
  }

.path-3-md-sm {
    width: 100%;
    height: auto;
    background-image: linear-gradient(124deg, #0909b4, #5d1c88);
    position: relative;
}

.path-3-xs {
    width: 100%;
    height: 736px;
    background-image: linear-gradient(124deg, #0909b4, #5d1c88);
    position: relative;
}

.txt-h1-div {
  position: absolute;
  top: 10%;
}

.txt-h1 {
  font-family: 'Play', sans-serif;
  color: #FFFFFF;
  font-size: 46px;
}

.txt-h1-md-sm {
  font-family: 'Play', sans-serif;
  color: #FFFFFF;
}

.txt-h1-xs {
  font-family: 'Play', sans-serif;
  position: relative;
  top: 40px;
  color: #FFFFFF;
  font-size: 28px;
  position: absolute;
}

.wave-bg {
position: relative;
}

.wave-bg-img {
  display: inline-block;
  height: auto;
  max-width: 80%;
  padding-top: 3%;
  padding-bottom: 10%;

}

.wave-bg-img-md-sm {
  display: inline-block;
  height: auto;
  max-width: 80%;
  padding-top: 3%;
  padding-bottom: 1%;

}

.logoC {
  position: absolute;
  top: 28%;
  margin-top: 1%;
  display: block;
  height: auto;
}

.logoC-xs {
  position: absolute;
  top: 244px;
  margin-top: 15px;
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.logoImg {
  width: 13%;
  height: auto;

}

.logoImg-xs {
  width: 140px;
  height: 185px;
}

.rectangle {
  width: 66.666666666%;
  background-color: #ffffff;
  box-shadow: -12px 1px 77px 0 rgba(0, 0, 0, 0.29);
  position: relative;
  bottom: 110px;
}

.rectangle-md-sm {
  width: 100%;
  background-color: #ffffff;
  box-shadow: -12px 1px 77px 0 rgba(0, 0, 0, 0.29);
  position: relative;

}

.rectangle-xs {
  width: 100%;
  background-color: #ffffff;
  position: relative;
}

.fork {
  position: absolute;
  bottom: 87%;
  left: 79%;
}

.fork-xs {
  position: absolute;
  bottom: 30%;
}

.app {
  width: 100%;
  position: absolute;
  bottom: 26%;
}

.app-md-sm {
  width: 100%;
  position: absolute;
  bottom: 12%;
}

.app-b {
  width: 163px;
  height: 54px;
  box-shadow: 1px 6px 11px 0 rgba(0, 0, 0, 0.15);
  border: solid 1.2px #f2f2f2;
  padding: 0.7%;
  margin: 1%;
  border-radius: 0;
  background-color: inherit;
  color: #ffffff;
  font-size: 17px;
  line-height: 1.5;
  font-family: 'Play', sans-serif;
}

.app-b-xs {
  width: 163px;
  height: 54px;
  box-shadow: 1px 6px 11px 0 rgba(0, 0, 0, 0.15);
  border: solid 1.2px #f2f2f2;
  padding: 4.7%;
  margin: 1%;
  border-radius: 0;
  background-color: inherit;
  color: #ffffff;
  font-size: 17px;
  line-height: 1.5;
  font-family: 'Play', sans-serif;
}

.features {
  margin-top: 60px;
  margin-bottom: 15px;
  height: auto;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.features-md-sm {
  margin-top: 2%;
  margin-bottom: 15px;
  height: auto;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.feat-text {
  font-family: 'Play', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #69a4f6;
  font-size: 30px;
}

.feat-img {
  width: 70%;
}

.feat-img-md-sm {
  width: 50%;
}

.feat-img-xs {
  width: 30%;
  margin-top: 40px;
}

.text-descr {
  margin-top: 18px;
  margin-bottom: 66px;
  font-family: 'Play', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #434343;
}

.text-descr-md-sm {
  margin-top: 18px;
  margin-bottom: 2%;
  font-family: 'Play', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #434343;
}

.text-h-xs {
width: 100%;
margin-top: 10px;
font-family: 'Play', sans-serif;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #69a4f6;
font-size: 30px;
}

.text-descr-xs {
  margin-bottom: 40px;
  font-family: 'Play', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #434343;
}

.overview {
  position: relative;
  margin-top: 5vw;
}

.overview-section {
  font-family: 'Play', sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: normal;
  color: #70a8f7;
}

.overview-section-md-sm {
  padding-top: 5%;
  font-family: 'Play', sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: normal;
  color: #70a8f7;
}

.overview-section-xs {
  padding-top: 5%;
  font-family: 'Play', sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: normal;
  color: #70a8f7;
}

.overview-descr {
  margin-top: 20px;
  font-family: 'Play', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: normal;
  color: #6e6e6e;
}

.overview-descr-md-sm {
  margin-top: 20px;
  font-family: 'Play', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #6e6e6e;
}

.overview-descr-xs {
  margin-top: 20px;
  font-family: 'Play', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #6e6e6e;
}

.overview-img{
  position: absolute;
  width: 26vw;
  padding-left: 2vw;
  z-index: 2;
}

.overview-img-md-sm{
  padding-left: 17%;
  padding-top: 17%;
  position: absolute;
  width: 100%;
  z-index: 2;
  display: inline-block;
  float: none;
  vertical-align: middle;
}

.shadow {
  width: auto;
  position: absolute;
  bottom: 64%;
  left: 5%;
  opacity: 0.23;
  font-family: 'Play', sans-serif;
  font-size: 100px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #bfbfbf;
}

.footer {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(98deg, #0909b4, #581b8b 55%, #5d1c88 77%, #5d1c88);
}

.footer-xs {
  position: relative;
  width: 100%;
  height: 80px;
  background-image: linear-gradient(98deg, #0909b4, #581b8b 55%, #5d1c88 77%, #5d1c88);
}

.license {
  position: relative;
  font-family: 'Play', sans-serif;
  color: #ffffff;
  padding-bottom: 3vw;
  font-size: 0.7vw;
}

.license-xs {
  font-family: 'Play', sans-serif;
  color: #ffffff;
  padding-top: 22px;
}

#triangle-bottomright {
  position: absolute;
  right: 0vw;
  top: 47.5vw;
	width: 0;
	height: 0;
	border-bottom: 12vw solid white;
	border-left: 18vw solid transparent;
}

#triangle-bottomleft {
  position: absolute;
  left: 0vw;
  top: 47.5vw;
	width: 0;
	height: 0;
	border-bottom: 12vw solid white;
	border-right: 18vw solid transparent;
}

#triangle-topleft {
  margin-top: -0.1vw;
	width: 0;
	height: 0;
	border-top: 4vw solid white;
	border-right: 25vw solid transparent;
  z-index: 0;
}

#triangle-topright {
  margin-top: -4.1vw;
  margin-left: 22vw;
	width: 0;
	height: 0;
	border-top: 8vw solid white;
	border-left: 78vw solid transparent;
  z-index: 0;

}

a.butt {display: inline-block; position: relative; }

a.butt:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 12px;
  right: 16px;
  bottom: 17px;
  background: linear-gradient(124deg, #0909b4, #5d1c88);
  opacity: 0;
  text-decoration: none;
 }
