
.input {
    font-size: 14px;
    padding: 10px;
    border: 1px solid #979797;
    border-right: none;
    width: 100%;
    box-sizing: border-box;
    margin-right: 45px;
}


.container {
    display: inline-block;
    width: 119px;
    position: relative;
}


.nextBtn {
    font-size: 14px;
    padding: 10px;
    text-indent: -99999px;
    width: 37px;
    box-sizing: border-box;
    background: url(../ValueInput/arrow.svg) no-repeat center center #438cef;
    border: 1px solid #438cef;
    position: absolute;
    right: 0;
    top: 0;
}

.nextBtn.second {
    background-color: #03cba0;
    border: 1px solid #03cba0;
}
