.incorrectNetwork {
  width: 700px;
  margin: 0 auto;
  padding-top: 100px;
  color: #7c7c7c;
}

.incorrectNetwork h2 {
  font-size: 34px;
  margin-bottom: 40px;
}

.incorrectNetwork p {
  font-size: 20px;
  padding-bottom: 10px;
}

.incorrectNetwork p span {
  display: inline-block;
  padding-left: 20px;
}

.incorrectNetwork img {
  padding-top: 40px;
  float: right;
}
